.container {
  display: flex;
  justify-content: center;
  flex-direction: row;
  align-items: center;
  background-color: aquamarine;
  .containerrr-row-div {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background-color: rgb(129, 145, 139);
  }
}
