:host {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
}

mat-drawer {
  width: 260px;
  //background: rgb(54, 101, 255);
  background: rgb(42, 48, 48);
  //background: rgb(255, 255, 0);
}

mat-drawer-container {
  height: 100%;
}
